In [1]:
import archive/pivot.csv

SyntaxError: invalid syntax (2924428908.py, line 1)

In [2]:
file_path='archive/pivot.csv'

In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv(file_path)

In [5]:
df

           Day  Person  DistanceRan  CaloriesConsumed
0   07/10/2021    Mark     4.493687              2475
1   08/10/2021    Mark     4.762127              2013
2   09/10/2021    Mark     0.702295              2022
3   10/10/2021    Mark     2.139704              1786
4   11/10/2021    Mark     0.885092              1915
5   07/10/2021   Sarah     7.291025              1795
6   08/10/2021   Sarah     3.288644              1800
7   09/10/2021   Sarah     1.346746              1575
8   10/10/2021   Sarah     0.374474              2001
9   11/10/2021   Sarah     8.322064              2090
10  07/10/2021     Sam     1.785269              1523
11  08/10/2021     Sam     0.952281              1958
12  09/10/2021     Sam     3.942175              2018
13  10/10/2021     Sam     1.206513              1600
14  11/10/2021     Sam     7.710480              2443
15  07/10/2021   Tania     9.495205              1524
16  08/10/2021   Tania     6.945512              2137
17  09/10/2021   Tania     7.577503              2238
18  10/10/2021   Tania     0.752881              2039
19  11/10/2021   Tania     5.396307              2197
20  07/10/2021  Robert     5.560553              2083
21  08/10/2021  Robert     9.953295              2111
22  09/10/2021  Robert     7.544851              2273
23  10/10/2021  Robert     2.439823              1636
24  11/10/2021  Robert     3.943242              1597